<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.li.my.shop.web.admin.dao.TbUserDao">
    <sql id="content">
            u.id,
            u.username,
            u.password,
            u.phone,
            u.email,
            u.created,
            u.updated
    </sql>
    <select id="selectAll" resultType="com.li.my.shop.domain.TbUser">
        SELECT
            <include refid="content"/>
        FROM tb_user AS  u
    </select>
    <select id="getByEmail" resultType="com.li.my.shop.domain.TbUser">
        SELECT
            <include refid="content"/>
        FROM tb_user AS u
        WHERE u.email=#{email}
    </select>
    <insert id="insert">
        INSERT INTO tb_user
        (username, password, phone, email, created, updated)
        VALUES
        (#{username} ,#{password} ,#{phone} ,#{email} ,#{created} ,#{updated} )
    </insert>
    <update id="updateById">
        UPDATE tb_user
        SET
            username=#{username} ,
            email=#{email} ,
            phone=#{phone} ,
            password=#{password} ,
            updated=#{updated}
        WHERE id=#{id}
    </update>
    <select id="getById" resultType="com.li.my.shop.domain.TbUser">
        SELECT
            <include refid="content"/>
        FROM tb_user AS u
        WHERE u.id=#{id}
    </select>


    <select id="batchDelete">
        DELETE FROM tb_user
        WHERE id IN
        <foreach collection="array" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM tb_user
        <where>
            <if test="username != null and username != ''">
                AND username LIKE concat ('%',#{username},'%')
            </if>
            <if test="email != null and email != ''">
                AND email LIKE concat ('%',#{email},'%')
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE concat ('%',#{phone},'%')
            </if>
        </where>
    </select>
    <select id="page" resultType="com.li.my.shop.domain.TbUser">
        SELECT
        <include refid="content"/>
        FROM tb_user AS u
        <where>
            <if test="tbUser.username != null and tbUser.username != ''">
                AND u.username LIKE concat ('%',#{tbUser.username},'%')
            </if>
            <if test="tbUser.email != null and tbUser.email != ''">
                AND u.email LIKE concat ('%',#{tbUser.email},'%')
            </if>
            <if test="tbUser.phone != null and tbUser.phone != ''">
                AND u.phone LIKE concat ('%',#{tbUser.phone},'%')
            </if>
        </where>
        LIMIT #{start},#{length}
    </select>
</mapper>